

  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ZipCode</th>
          <th>PrefCode</th>
          <th>Address</th>
          <th>kana   </th>
          <th>introducation</th>
        </tr>
      </thead>
      <tbody>
      <% @areas.each do |area| %>
        <tr>
          <th><%= area.id %></th>
          <td><%= area.zipcode %></td>
          <td><%= area.prefcode %></td>
          <td><%= area.address1 %></td>
          <td><%= area.kana1 %></td>
          <td><%= area.introducation %></td>
        </tr>
      <% end %>
      </tbody>
  </div>
