
  <div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>ZipCode</th>
          <th>PrefCode</th>
          <th>Address</th>
          <th>kana   </th>
          <th>introducation</th>
        </tr>
      </thead>
    <% @areas.each do |area| %>
      <tbody>
        <tr>
          <th><%= area.id %></th>
          <td><%= area.zipcode %></td>
          <td><%= area.prefcode %></td>
          <td><%= area.address1 %></td>
          <td><%= area.kana1 %></td>
          <td><%= area.zipcode %></td>
        </tr>
      </tbody>
    <% end %>
  </div>
