<div>
  <% @area.errors.full_messages.each do |messages| %>
    <p><%= messages  %></p>
  <% end %>
</div>

<div class = "w-50 mx-auto">
  <h2>エリア登録</h2>
  <%= form_with model: @area, url: areas_path, method: :post, local: true  do |f| %>
      <div class = "mw-30">
        <div class =  "form-group" >
          <%= f.label "ZipCode" %>
          <p><%= f.text_field :zipcode, class:"form-control", value: @zipcode  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "Prefcode" %>
          <p><%= f.text_field :prefcode,  class:"form-control", value: @prefcode   %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "Address1" %>
          <p><%= f.text_field :address1,  class:"form-control", value: @address1  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "kana1" %>
          <p><%= f.text_field :kana1,  class:"form-control", value: @kana1  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "Address2" %>
          <p><%= f.text_field :address2,  class:"form-control", value: @address2  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "kana2" %>
          <p><%= f.text_field :kana2,  class:"form-control", value: @kana2  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "Address3" %>
          <p><%= f.text_field :address,  class:"form-control", value: @address3  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "kana3" %>
          <p><%= f.text_field :kana3,  class:"form-control", value: @kana3  %></p>
        </div>

        <div  class = "form-group" >
          <%= f.label "introducation" %>
          <p><%= f.text_area :introducation,  class:"form-control" %></p>
        </div>
      </div>

      <%= f.submit "登録", class:"btn btn-primary btn-block" %>
  <% end %>
</div>




